{{#partial "content"}}

<div class="emphasized well">
<p>Here are all the members in the team: {{team.name}} </p>
<ul>
    {{#each members}}
        <li>
        <p>Member Name:{{name}}</p>
        <p>Age: {{age}}</p>
           <p>
               <a href="/members/update">Edit this member</a><br>
               <a href="/members/delete">DELETE this member (no undo)</a>
           </p>
        </li>
    {{/each}}
</ul>
</div>
    <a href="/teams/{{team.id}}/update">Edit this team</a>
    <a href="/teams/{{team.id}}/delete">DELETE this team (no undo)</a>
{{/partial}}

{{> layout.hbs}}