{{#partial "content"}}

<div class="emphasized well">
<p>Here are all the members in the team: {{team.name}} </p>
<ul>
    {{#each members}}
        <li><a href="/teams/{{team.id}}/members/{{id}}">
            Member Name:{{name}}</a>
           <p>
               <a href="/teams/{{id}}/members/{{teamId}}/update">Update this member</a><br>
               <a href="/teams/{{team.id}}/members/{{id}}/delete">Delete this member</a>
           </p>

        </li>
    {{/each}}
</ul>
</div>
    <p><a href="/teams/{{team.id}}/update">Edit this team</a></p>
    <p><a href="/teams/{{team.id}}/delete">DELETE this team (no undo)</a></p>
{{/partial}}

{{> layout.hbs}}