{{#partial "content"}}

<div class="emphasized well">
<p>Here are all the members in the team: {{team.name}} </p>
<ul>
    {{#each members}}
        <li>
        <p>Member Name:{{name}}</p>
           <p>
               <a href="/teams/{{id}}/members/{{teamId}}/update">Edit this member information</a><br>
               <a href="/teams/{{id}}/members/{{teamId}}/delete">REMOVE this member from the team (no undo)</a>
           </p>

        </li>
    {{/each}}
</ul>
</div>
    <p><a href="/teams/{{team.id}}/update">Edit this team</a></p>
    <p><a href="/teams/{{team.id}}/delete">DELETE this team (no undo)</a></p>
{{/partial}}

{{> layout.hbs}}